/************************
Designed by : http://responsivewebinc.com
************************/

/* Basic CSS starts */

body{
	background: #efefee;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}

a{
	font-weight: bold;
}

a:hover{

}

a:hover,a:active,a:focus {
	outline: 0;
}

hr{
	margin: 0;
	border-top: 1px solid #efefee;
	border-bottom: 1px solid #dbd8d8;
}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}

/* Basic CSS ends */

.sidebar{

	background: #efefee ;
	width: 180px;
	float:left;
	position: relative;
	padding-right: 3px;
}

/* sidebar logo CSS */

.sidebar .logo{
	margin: 25px 15px;
	padding: 20px;
	border-bottom: 1px solid #111;
	background: #70c8e0 url('../img/head-bg.png') repeat;
	border-radius: 5px;
	text-shadow: 1px 1px 2px #666;
}

.sidebar .logo h1{
	margin: 0;
	margin-bottom: 5px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 50px;
}

.sidebar .logo h1 a{
	color: #fff;
}

.sidebar .logo h1 a:hover{
	color: #fff;
	text-decoration: none;
}

.sidebar .logo p{
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}

/* sidebar search input and button CSS */

.sidebar .sidebar-search{
	margin: 20px 15px;
	border: 1px dashed #333;
}

.sidebar .sidebar-search > form > .input-group > input{
	background: #222;
	font-size: 12px;
	border: 0;
	border-radius: 0;
	box-shadow: none !important;
	color: #999;
} 

.sidebar .sidebar-search > form > .input-group > input:focus{
	box-shadow: none;
}

.sidebar .sidebar-search > form > .input-group > input::-webkit-input-placeholder { 
    color:#888;
	border: 0;
}

.sidebar .sidebar-search > form > .input-group > input::-moz-placeholder { 
    color:#888;
	border: 0;
}

.sidebar .sidebar-search > form > .input-group > input::-ms-input-placeholder { 
    color:#888;
	border: 0;
}

.sidebar .sidebar-search > form > .input-group > .input-group-btn > button{
	background: #222;
	border: 0;
	border-radius: 0;
	padding-top: 7px;
	padding-bottom: 7px;
}

.sidebar .sidebar-search > form > .input-group > .input-group-btn > button i:hover{
	color: #999;
}

/* sidebar menu list CSS */

.sidebar .list{
	margin-top: 20px;
	border-top: 1px solid #222;
	border-bottom: 1px solid #090909;
}

.sidebar .list > li{
	padding: 10px 0 10px 15px;
	border-top: 1px solid #222;
	border-bottom: 1px solid #090909;
}

.sidebar .list > li:first-child{
	border-top: 1px solid #090909;
}

.sidebar .list > li:last-child{
	border-bottom: 1px solid #222;
}

.sidebar .list > li:hover{
	background: #111;
}

.sidebar .list > li i{
	display: inline-block;
	margin-right: 10px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border: 2px solid #111;
	border-radius: 60px;
}

.sidebar .list > li > a{
	text-transform: uppercase;
	font-size: 14px;
	text-shadow: 1px 1px 2px #000;
	color: #fff;
	text-decoration:none !important;
}


.sidebar .list > li > a > i.scolor{
	background: #222;
}

.sidebar .list > li > a:hover{
	color: #fff;
	text-decoration:none !important;
}

.sidebar .list > li > .dropdown> a{
	color: #fb8592;
}

.sidebar .list > li > .dropdown > a:hover{
	text-decoration: none;
	color: #a61223;
}

.sidebar .caret{
	border-top: 4px solid #fff !important;
}

/* Sidebar menu list dropdown  CSS */

.sidebar .dropdown-menu{
	left:15px;
	margin-top:-5px;
}

.sidebar .dropdown-menu a{
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 12px;
	color: #000;
}

.sidebar .dropdown-menu a:hover{
	background: #222;
}

.sidebar .dropdown-menu:after, .sidebar .dropdown-menu:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.sidebar .dropdown-menu:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 4px;
	left: 70%;
	margin-left: -8px;
}
.sidebar .dropdown-menu:before {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 7px;
	left:70%;
	margin-left: -14px;
}

.sidebar .social{
	margin: 15px 10px;
	padding: 10px 8px;
	background: #222;
	border: 1px dashed #333;
	border-radius:5px;
	text-align:center
}

.sidebar .social a:hover{
	text-decoration: none;
}

.sidebar .social a{
	display: inline-block;
	margin: 0 3px;
	width: 40px;
	height: 40px;
	border: 1px solid #111;
	border-radius: 7px;
	font-size: 16px;
	text-align: center;
	color: #fff;
	padding-top:4px;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-o-transition: background 1s ease;
	-ms-transition: background 1s ease;
	transition: background 1s ease;
}

.sidebar .social a.facebook{
	background: #194ff3;
}

.sidebar .social a.twitter{
	background: #25abf1;
}
.sidebar .social a.google{
	background: #f63832;
}

.sidebar .social a.linkedin{
	background: #206fbc;
}

.sidebar .social > a > i{
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
} 

.sidebar .social > a > i:hover{
}

.sidebar .social a.facebook i{
	border: 1px dashed #7d97ea;
}

.sidebar .social a.facebook:hover{
	background: #1c43bb;
}

.sidebar .social a.twitter i{
	border: 1px dashed #a5d8f2;
}

.sidebar .social a.twitter:hover{
	background: #1594d6;
}

.sidebar .social a.google i{
	border: 1px dashed #eeb3b1;
}

.sidebar .social a.google:hover{
	background: #d52d28;
}

.sidebar .social a.linkedin i{
	border: 1px dashed #85b3df;
}

.sidebar .social a.linkedin:hover{
	background: #0c5caa;
}



